<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <a class="title-makers" [routerLink]="['/home']">
      <span>IT MAKERS</span>
    </a>
    <div class="spacer"></div>

    <div class="dropdown">
      <button class="dropbtn">Problemas</button>
      <div class="dropdown-content">
        <a [routerLink]="['/exercise-one']">Problema 1</a>
        <a [routerLink]="['/exercise-two']">Problema 2</a>
        <a [routerLink]="['/exercise-three']">Problema 3</a>
        <a [routerLink]="['/exercise-four']">Problema 4</a>
        <a [routerLink]="['/exercise-five']">Problema 5</a>
        <a [routerLink]="['/exercise-six']">Problema 6</a>
      </div>
    </div>
    
</div>